## Importing ##

In [1]:
from assembling import *

## Input data Generation ##

In [2]:
data = generate_data('2002-12-1','2022-06-05')

In [3]:
data

,date,SEGMENT_NAME,HYBRID_FORECAST_VALUE,CUSTOMER_LVL_ID1,DISTR_CHANNEL_LVL_ID,VF_FORECAST_VALUE,ML_FORECAST_VALUE,MID_RECONCILED_FORECAST,DEMAND_TYPE,ASSORTMENT_TYPE,PRODUCT_LVL_ID1,LOCATION_LVL_ID
0,2002-12-01,Low Volume,0.405073,928845,2,0.985982,0.209550,0.503854,regular,old,12311,10000
1,2002-12-02,Low Volume,0.074648,917788,3,0.029834,0.600605,0.223685,promo,old,12311,10000
2,2002-12-03,Low Volume,0.057117,926685,4,0.040331,0.409552,0.755967,promo,new,10091,10000
3,2002-12-04,Retired,0.800762,919984,3,0.591651,0.776989,0.633118,regular,new,10084,10000
4,2002-12-05,Low Volume,1.810381,962662,1,0.369578,0.992910,0.303877,promo,new,12311,10000
...,...,...,...,...,...,...,...,...,...,...,...,...
7122,2022-06-01,Retired,1.928949,951021,3,1.110048,0.947514,1.553459,promo,old,10084,10000
7123,2022-06-02,Short,0.699601,939587,3,2.478038,1.329466,0.292256,promo,new,12311,10000
7124,2022-06-03,Short,0.251907,978303,2,0.384645,0.086105,0.187996,promo,new,10091,10000
7125,2022-06-04,Low Volume,0.554015,970922,1,0.618104,0.148942,0.805203,promo,old,10091,10000
7126,2022-06-05,Short,1.015516,967434,2,1.715920,0.447884,0.291570,regular,old,12311,10000

In [4]:
data

,date,SEGMENT_NAME,HYBRID_FORECAST_VALUE,CUSTOMER_LVL_ID1,DISTR_CHANNEL_LVL_ID,VF_FORECAST_VALUE,ML_FORECAST_VALUE,MID_RECONCILED_FORECAST,DEMAND_TYPE,ASSORTMENT_TYPE,PRODUCT_LVL_ID1,LOCATION_LVL_ID
0,2002-12-01,Low Volume,0.405073,928845,2,0.985982,0.209550,0.503854,regular,old,12311,10000
1,2002-12-02,Low Volume,0.074648,917788,3,0.029834,0.600605,0.223685,promo,old,12311,10000
2,2002-12-03,Low Volume,0.057117,926685,4,0.040331,0.409552,0.755967,promo,new,10091,10000
3,2002-12-04,Retired,0.800762,919984,3,0.591651,0.776989,0.633118,regular,new,10084,10000
4,2002-12-05,Low Volume,1.810381,962662,1,0.369578,0.992910,0.303877,promo,new,12311,10000
...,...,...,...,...,...,...,...,...,...,...,...,...
7122,2022-06-01,Retired,1.928949,951021,3,1.110048,0.947514,1.553459,promo,old,10084,10000
7123,2022-06-02,Short,0.699601,939587,3,2.478038,1.329466,0.292256,promo,new,12311,10000
7124,2022-06-03,Short,0.251907,978303,2,0.384645,0.086105,0.187996,promo,new,10091,10000
7125,2022-06-04,Low Volume,0.554015,970922,1,0.618104,0.148942,0.805203,promo,old,10091,10000
7126,2022-06-05,Short,1.015516,967434,2,1.715920,0.447884,0.291570,regular,old,12311,10000

## Assembling Algorithm Output ##

In [5]:
hybridization(data)

,date,SEGMENT_NAME,HYBRID_FORECAST_VALUE,CUSTOMER_LVL_ID1,DISTR_CHANNEL_LVL_ID,VF_FORECAST_VALUE,ML_FORECAST_VALUE,MID_RECONCILED_FORECAST,DEMAND_TYPE,ASSORTMENT_TYPE,PRODUCT_LVL_ID1,LOCATION_LVL_ID,FORECAST_SOURCE,ENSEMBLE_FORECAST_VALUE
0,2002-12-01,Low Volume,0.001000,928845,2,0.985982,0.209550,0.503854,regular,old,12311,10000,vf,NaN
1,2002-12-02,Low Volume,0.600605,917788,3,0.029834,0.600605,0.223685,promo,old,12311,10000,ml,NaN
2,2002-12-03,Low Volume,0.409552,926685,4,0.040331,0.409552,0.755967,promo,new,10091,10000,ml,NaN
3,2002-12-04,Retired,0.776989,919984,3,0.591651,0.776989,0.633118,regular,new,10084,10000,ml,NaN
4,2002-12-05,Low Volume,0.992910,962662,1,0.369578,0.992910,0.303877,promo,new,12311,10000,ml,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,2022-06-01,Retired,0.001000,951021,3,1.110048,0.947514,1.553459,promo,old,10084,10000,vf,NaN
7123,2022-06-02,Short,1.329466,939587,3,2.478038,1.329466,0.292256,promo,new,12311,10000,ml,NaN
7124,2022-06-03,Short,0.086105,978303,2,0.384645,0.086105,0.187996,promo,new,10091,10000,ml,NaN
7125,2022-06-04,Low Volume,0.148942,970922,1,0.618104,0.148942,0.805203,promo,old,10091,10000,ml,NaN
7126,2022-06-05,Short,0.447884,967434,2,1.715920,0.447884,0.291570,regular,old,12311,10000,ml,NaN